<!DOCTYPE html>
<html>
<head>
   <title>PregSource</title>
</head>
   <body>
      <h1>Here are the resources for your trimester.</h1>
      <p>Here is my JSONresult : <br> <%= EJSresult.rows[0].srctopic %></p>
   </body>
</html>