<form action="/firsttri" method="GET">
   <label>Select Your Trimester</label>
   <select name="tri">
      <option>First Trimester</option>      
   </select>
   <button type="submit">See Resources</button>
</form>