<!DOCTYPE html>
<html>
<head>
   <title>PregSource</title>
   <link href="CSS/home.css" rel="stylesheet" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
      function displayResults() {
         //ajax jquery call
         var url = "";
         var choices = document.getElementById('selected').value;
         //alert(choices);
         switch(choices) {
            case "1":
            //alert("in case 1");
               url = "/firsttri";
               break;
            case "2":
            //alert("in case 2");   
               url = "/secondtri";
               break;
            case "3":
            //alert("in case 3");   
               url = "/thirdtri";
               break;
            case "0":
            //alert("in case 0");   
               url = "/postpartum";
               break;
            }
            //alert(url);
         $.ajax({
            url: url,
            context: document.body
         }).done(function(data) {
            //alert(data);
            $("#newContent").append(data);
         });
      }
   </script>
</head>
   <body>
      <div id="header">
      </div>
      <div id="menu">
         <ul>
            <li><label>Select Your Trimester</label></li>
            <li><select id="selected">
         <option value="1">First Trimester</option>
         <option value="2">Second Trimester</option>      
         <option value="3">Third Trimester</option>      
         <option value="0">Post-Partum</option>      
      </select><button onclick="displayResults()">See Resources</button></li>
      <li></li>
         </ul>
      </div>
            <div id="newContent">
         
      </div>
   </body>
</html>