<!DOCTYPE html>
<html>
<head>
   <title>PregSource</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
      function displayResults() {
         //ajax jquery call
         switch("1"/* What do I put here?? */)
            case 1:
               $.ajax({
                  url: "/firsttri",
                  context: document.body
               }).done(function(data) {
                  alert(data);
                  $("#newContent").append(data);
               });
               break;
            case 2:
               $.ajax({
                  url: "/secondtri",
                  context: document.body
               }).done(function(data) {
                  alert(data);
                  $("#newContent").append(data);
               });
               break;
            case 3:
               $.ajax({
                  url: "/thirdtri",
                  context: document.body
               }).done(function(data) {
                  alert(data);
                  $("#newContent").append(data);
               });
               break;
            case 0:
               $.ajax({
                  url: "/postpartum",
                  context: document.body
               }).done(function(data) {
                  alert(data);
                  $("#newContent").append(data);
               });
               break;
      }
   </script>
</head>
   <body>
   </html>
      <label>Select Your Trimester</label>
      <select id="selected">
         <option value="1">First Trimester</option>
         <option value="2">Second Trimester</option>      
         <option value="3">Third Trimester</option>      
         <option value="0">Post-Partum</option>      
      </select>
      <button onclick="displayResults()">See Resources</button>
      <div id="newContent">
         
      </div>
   </body>
</html>

