<!DOCTYPE html>
<html>
<head>
   <title>PregSource</title>
</head>
   <body>
   </html>
   <form action="/firsttri" method="GET">
      <label>Select Your Trimester</label>
      <select name="selected">
         <option>First Trimester</option>
         <option>Second Trimester</option>      
         <option>Third Trimester</option>      
         <option>Post-Partum</option>      
      </select>
      <button type="submit">See Resources</button>
   </form>
</body>
</html>