<h1>Here are the resources for your trimester.</h1>
<% for(var i = 0; i < EJSresult.rows.length; i++) { %>
   <h3><%= EJSresult.rows[i].srctopic %></h3>
   <p><%= EJSresult.rows[i].srcurl %></p><br>
<% }; %>