<!-- ********************************************************************************************
* AUTHOR: Heather Brune
* CLASS: CS 313: 02
* PROJECT TITLE: PregSource
* FILE NAME: thirdtri.ejs
***********************************************************************************************-->
  
<h1>Here are the resources for your third trimester.</h1>
<% for(var i = 0; i < EJSresult.rows.length; i++) { %>
   <h3 class="topic"><%= EJSresult.rows[i].srctopic %></h3>
   <a class="url" href="<%= EJSresult.rows[i].srcurl %>"><%= EJSresult.rows[i].srcurl %></a><br>
<% }; %>