body {
   background-color: #e8fffd;
}

#menu {
   margin: 15px;
   padding: 15px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #8c8aff;
}

li {
   display: inline;
   margin: 5px;
   padding: 5px;
}

select, option, button {
   background-color: #e8fffd;
}