body {
   background-color: #faffff;
}

#menu {
   background-color: #8c8aff;
   margin: 15px;
   padding: 15px;
   display: inline-block;
}

#title {
   font-weight: bold;
   color: #C425FC;
}

p {
   font-style: italic;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
   display: inline;
   margin: 5px;
   padding: 5px;
}

select, option, button {
   background-color: #faffff;
}

select option:hover, select option:active, select option {
   outline-color: #8c8aff;
   background-color: #faffff;
}